@import "slick";
@import "responsive-indicator";
@import "app";

// SETTINGS
$font: "Times New Roman", Times, serif;
$font-size: 13pt;
$bgcolor: whitesmoke;

// MEDIA QUERIES
$desktop-large: "only screen and (min-width: 960px)";
$desktop: "only screen and (max-width: 959px)";
$tablet-portrait: "only screen and (min-width: 768px) and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";
$mobile-landscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile-portrait: "only screen and (max-width: 479px)";

@media #{$desktop-large} { .mobile { display:none; } .desktop{display:inherit;}  }
@media #{$desktop} { .mobile { display:none; } .desktop{display:inherit;}  }
@media #{$mobile} { .mobile { display:inherit; } .desktop{display:none;} }

// MIXINS
@mixin space-reset {
	padding: 0;
	margin: 0;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// OPTIONS
.scale-with-grid { width: 100%; height: auto; }
.add-bottom { margin-bottom: $column-gutter; }


// GENERAL
body {
	background-color: $bgcolor;
	font-family: $font;
	font-size: $font-size;
	p {
		font-size: $font-size;
	}
}

.posts hr:first-child {
	margin-top: 0;
}

hr { 
	border: 0;
	height : 15px;
	background: url('../img/bg/dots.gif') repeat-x;
	margin : 1em 0;
}

//HEADER

header {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
	padding-top: 2.5rem;
	text-align: right;
	@media #{$mobile} {
		text-align: center;
	}
	ul {
		li {
			display: inline-block;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.description {
	padding: 1rem 0;
}

#sidebar {
	font-family: sans-serif;
	background-color: silver;
	padding:1em;
	h2 {
		font-size: 1rem;
	}
	ul {
		@include space-reset;
		margin-bottom: 1rem;
		
		li {
			@include space-reset;
			list-style: none;
		}
	}
}

//FOOTER

footer {
	padding-bottom: 100px;
	table {
		border: 0;
		padding: 0;
		margin: 0;
		border-spacing:0;
		td {
			background-color: rgba(white,0);
			padding: 0;
			margin: 0;
			padding-right: 1em;
		}
	}
}

//DEV

.development {
	position: fixed;
	top: 5px;
	z-index: 9999;
	color: red;
} 

